.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: start;
  align-items: center;
  height: 480px;
  width: 360px;
  /* border: 1px solid black; */
  border-radius: 15px;

  padding: 24px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
h2 {
  margin: 0;
}
.bg {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(193, 238, 121, 1) 100%
  );
  background: white;
  height: 100vh;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: black !important;
}
.input {
  padding: 12px;
  border: 1px solid;
  border-radius: 8px;
  &&:focus {
    background: rgb(230, 200, 200);
  }
}
.btn {
  background: rgb(179, 187, 245);
}
